<table class="table table-striped">
  <thead>
    <tr>
      <td>IMAGEM</td>
      <td>REFERÊNCIA</td>
      <td>CATEGORIA</td>
      <td>COLEÇÃO</td>
      <td>DETALHES</td>
      <td>FAMILIA</td>
      <td>STATUS</td>
      <td width="200">AÇÃO</td>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let colar of colares | async | filter:searchColares | paginate: { itemsPerPage: 20, currentPage: pColares, id:'pColares' }">
      <td scope="row"><img src="{{ colar.image1 }}" width="40" height="40"/></td>
      <td>{{ colar.ref }}</td>
      <td>{{ colar.category }}</td>
      <td>{{ colar.collection }}</td>
      <td><span *ngFor="let tag of colar.tagsDetails">{{ tag }}</span></td>
      <td>{{ colar.family }}</td>
      <td>{{ colar.status }}</td>
      <td>
        <button class="btn btn-primary"
        routerLink="/produtos/editar-produto/" 
        [queryParams]="{ pagina: colar.category, id: colar.key }">
          <i class="fas fa-edit"></i> Editar</button>
      
        <button class="btn btn-danger" (click)="selectItem(colar.key, colar.ref)" data-toggle="modal" data-target="#deleteColares">
          <i class="fas fa-minus-circle"></i> Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
     
    </tr>
  </tfoot>
</table>

<nav aria-label="Page navigation example">
  <pagination-controls class="pagination justify-content-end" (pageChange)="pColares = $event" id="pColares" maxSize="5" directionLinks="true" autoHide="true"
    previousLabel="Anterior" nextLabel="Próxima" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="página" screenReaderCurrentLabel="Você está na página">
  </pagination-controls>
</nav>

  <!-- Modal Excluir -->
  <div class="modal fade" id="deleteColares" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Ref: {{ itemTitle }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Tem certeza que deseja excluir?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem(selectedItem)">Sim</button>
          </div>
        </div>
      </div>
    </div>