<header>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img src="assets/img/borboleta-rommanel-mobile.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="nav-link-active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="nav-link-active" routerLink="/categorias">Categorias</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="nav-link-active" routerLink="/uploads">Uploads</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="nav-link-active" routerLink="/produtos">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="nav-link-active" routerLink="/usuarios">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="nav-link-active" routerLink="/notificacoes">Notificações</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Sair</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>