<div class="container">
  <div class="jumbotron">
    <form [formGroup]="formulario" (ngSubmit)="salvarNotificacao()">
    
        <div class="form-group">
          <label for="Titulo da notificação">Título da nofiticação</label>
          <input class="form-control" type="text" placeholder="Título da mensagem"
            formControlName="titulo">
        </div>
        
        <div class="form-group">
        <label for="Texto da notificação">
          Texto da nofiticação</label>
          <textarea class="form-control" maxlength="300" formControlName="mensagem"></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Enviar nofiticação</button>
        </div>
    </form>
  </div>
</div>