<table class="table table-striped">
  <thead>
    <tr>
      <td>IMAGEM</td>
      <td>REFERÊNCIA</td>
      <td>CATEGORIA</td>
      <td>COLEÇÃO</td>
      <td>DETALHES</td>
      <td>FAMILIA</td>
      <td width="200">AÇÃO</td>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let pulseira of pulseiras | async | filter:searchPulseiras | paginate: { itemsPerPage: 20, currentPage: pPulseiras, id:'pPulseiras' }">
      <td scope="row"><img src="{{ pulseira.image1 }}" width="40" height="40"/></td>
      <td>{{ pulseira.ref }}</td>
      <td>{{ pulseira.category }}</td>
      <td>{{ pulseira.collection }}</td>
      <td><span *ngFor="let tag of pulseira.tagsDetails">{{ tag }}</span></td>
      <td>{{ pulseira.family }}</td>
      
      <td>
        <button class="btn btn-primary"
          routerLink="/produtos/editar-produto/" 
          [queryParams]="{ pagina: pulseira.category, id: pulseira.key }">
          <i class="fas fa-reply"></i> Editar</button>
        <button class="btn btn-danger" (click)="deleteItem(pulseira.key)">
          <i class="fas fa-trash"></i> Excluir</button>
      </td>
    </tr>
    
  </tbody>
  <tfoot>
    <tr>
     
    </tr>
  </tfoot>
</table>

<nav aria-label="Page navigation example">
  <pagination-controls class="pagination justify-content-end" (pageChange)="pPulseiras = $event" id="pPulseiras" maxSize="5" directionLinks="true" autoHide="true"
    previousLabel="Anterior" nextLabel="Próxima" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="página" screenReaderCurrentLabel="Você está na página">
  </pagination-controls>
</nav>