<table class="table table-striped">
  <thead>
    <tr>
      <td>IMAGEM</td>
      <td>REFERÊNCIA</td>
      <td>CATEGORIA</td>
      <td>COLEÇÃO</td>
      <td>DETALHES</td>
      <td>FAMILIA</td>
      <td width="200">AÇÃO</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let anel of aneis | async | filter:searchAneis | paginate: { itemsPerPage: 20, currentPage: pAneis, id:'pAneis' }">
      <td scope="row"><img src="{{ anel.image1 }}" width="40" height="40"/></td>
      <td>{{ anel.ref }}</td>
      <td>{{ anel.category }}</td>
      <td>{{ anel.collection }}</td>
      <td><span *ngFor="let tag of anel.tagsDetails">{{ tag }}</span></td>
      <td>{{ anel.family }}</td>
      
      <td>
        <button class="btn btn-primary"
          routerLink="/produtos/editar-produto/" 
          [queryParams]="{ pagina: anel.category, id: anel.key }">
          <i class="fas fa-reply"></i> Editar</button>
        <button class="btn btn-danger" (click)="deleteItem(anel.key)">
          <i class="fas fa-trash"></i> Excluir</button>
      </td>
    </tr>
    
  </tbody>
  <tfoot>
    <tr>
      
    </tr>
  </tfoot>
</table>

<nav aria-label="Page navigation example">
  <pagination-controls class="pagination justify-content-end" (pageChange)="pAneis = $event" id="pAneis" maxSize="5" directionLinks="true" autoHide="true"
    previousLabel="Anterior" nextLabel="Próxima" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="página" screenReaderCurrentLabel="Você está na página">
  </pagination-controls>
</nav>