<app-header></app-header>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
    </ol>
  </nav>
  <div class="jumbotron">
    <div class="actions">
      <p>Usuários cadastrados: {{ countUsers }}</p>
      <p>{{ userName }}</p>
      <p>{{ userCidade }}</p>
      <div class="form-inline form-search float-sm-right">
        <input type="search" class="form-control" placeholder="Buscar" [(ngModel)]="search">
        <button type="submit" class="mb-2">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Nome</td>
          <td>E-mail</td>
          <td width="200">Ação</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users  | async | filterBy: ['displayName']: '' | orderBy:'-amount'| filter:search | paginate: { itemsPerPage: 20, currentPage: p, id:'p'} ">
          <td>{{ user.displayName}}</td>
          <td>{{ user.email}}</td>
          <td>
            <button class="btn btn-danger" (click)="getAlbumById(user.email)">
              <i class="fas fa-trash"></i> Excluir</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Nome</td>
          <td>E-mail</td>
          <td width="200">Ação</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <nav aria-label="Page navigation example">
      <pagination-controls class="pagination justify-content-end" (pageChange)="p = $event" id="p" maxSize="5" directionLinks="true" autoHide="true"
        previousLabel="Anterior" nextLabel="Próxima" screenReaderPaginationLabel="Paginação" screenReaderPageLabel="página" screenReaderCurrentLabel="Você está na página">
      </pagination-controls>
    </nav>
</div>
<app-footer></app-footer>