<div class="window">
  <div>
    <img src="assets/img/logo-rommanel-mobile.png" />
    <div class="panel">
      <p>Faça o seu login para acessar o painel do catálogo Rommanel.</p>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Usuário">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Senha">
      </div>
      <button type="submit" class="btn btn-success btn-block" routerLink="/home">Entrar</button>
    </div>
  </div>
</div>