<app-header></app-header>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Produtos</li>
    </ol>
  </nav>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="aneis-tab" data-toggle="tab" href="#aneis" role="tab" aria-controls="aneis" aria-selected="true">Anéis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="brincos-tab" data-toggle="tab" href="#brincos" role="tab" aria-controls="brincos" aria-selected="false">Brincos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="colares-tab" data-toggle="tab" href="#colares" role="tab" aria-controls="colares" aria-selected="false">Colares</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pingentes-tab" data-toggle="tab" href="#pingentes" role="tab" aria-controls="pingentes" aria-selected="false">Pingentes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pulseiras-tab" data-toggle="tab" href="#pulseiras" role="tab" aria-controls="pulseiras" aria-selected="false">Pulseiras</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="aneis" role="tabpanel" aria-labelledby="aneis-tab">
      <div class="jumbotron">
        <div class="actions m-1">
          <div class="form-inline form-search float-sm-right">
            <input type="search" class="form-control" placeholder="Buscar" [(ngModel)]="searchAneis">
            <button type="submit" class="mb-2">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <button class="btn btn-success float-sm-left mr-3" routerLink="novo-produto">
            <i class="fas fa-plus-circle"></i> Novo produto</button>
        </div>
        <br />
        <!-- TABLE ANEIS -->
        <app-aneis [searchAneis]='searchAneis'></app-aneis>
        <!-- TABLE ANEIS -->
      </div>
    </div>
    <div class="tab-pane fade" id="brincos" role="tabpanel" aria-labelledby="brincos-tab">
      <div class="jumbotron">
        <div class="actions m-1">
          <div class="form-inline form-search float-sm-right">
            <input type="search" class="form-control" placeholder="Buscar" [(ngModel)]="searchBrincos">
            <button type="submit" class="mb-2">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <button class="btn btn-success float-sm-right mr-3" routerLink="novo-produto">Novo produto</button>
        </div>
        <!-- TABLE BRINCOS -->
        <app-brincos [searchBrincos]='searchBrincos'></app-brincos>
        <!-- TABLE BRINCOS -->
      </div>
    </div>
    <div class="tab-pane fade" id="colares" role="tabpanel" aria-labelledby="colares-tab">
      <div class="jumbotron">
        <div class="actions m-1">
          <div class="form-inline form-search float-sm-right">
            <input type="search" class="form-control" placeholder="Buscar">
            <button type="submit" class="mb-2">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <button class="btn btn-success float-sm-right mr-3" routerLink="novo-produto">Novo produto</button>
        </div>
        <!-- TABLE COLARES -->
        <app-colares [searchColares]='searchColares'></app-colares>
        <!-- TABLE COLARES -->
      </div>
    </div>
    <div class="tab-pane fade" id="pingentes" role="tabpanel" aria-labelledby="pingentes-tab">
      <div class="jumbotron">
        <div class="actions m-1">
          <div class="form-inline form-search float-sm-right">
            <input type="search" class="form-control" placeholder="Buscar">
            <button type="submit" class="mb-2">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <button class="btn btn-success float-sm-right mr-3" routerLink="novo-produto">Novo produto</button>
        </div>
       <!-- TABLE PINGENTES -->
       <app-pingentes [searchPingentes]='searchPingentes'></app-pingentes>
       <!-- TABLE PINGENTES -->
      </div>
    </div>
    <div class="tab-pane fade" id="pulseiras" role="tabpanel" aria-labelledby="pulseiras-tab">
      <div class="jumbotron">
        <div class="actions m-1">
          <div class="form-inline form-search float-sm-right">
            <input type="search" class="form-control" placeholder="Buscar">
            <button type="submit" class="mb-2">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <button class="btn btn-success float-sm-right mr-3" routerLink="novo-produto">Novo produto</button>
        </div>
        <!-- TABLE PULSEIRAS -->
        <app-pulseiras [searchPulseiras]='searchPulseiras'></app-pulseiras>
        <!-- TABLE PULSEIRAS -->
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>