<app-header></app-header>
<!-- <div *ngFor="let upload of uploads | async"></div>
  <upload-detail [upload]='upload'></upload-detail>
</div> -->

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Produtos</li>
    </ol>
  </nav>
  <div class="jumbotron">
    <div class="actions">
      <button class="btn btn-success" routerLink="novo-produto">Novo produto</button>
      <div class="form-inline form-search float-sm-right">
        <input type="search" class="form-control" placeholder="Buscar">
        <button type="submit" class="mb-2">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>IMAGEM</td>
          <td>REFERÊNCIA</td>
          <td>CATEGORIA</td>
          <td>FAMILIA</td>
          <td>COLEÇÃO</td>
          <td>DETALHES</td>
          <td width="200">AÇÃO</td>
        </tr>
      </thead>
      <tbody>
          
        <tr *ngFor="let item of items | async">
          <th scope="row"><img src="{{ item.image1 }}" width="40" height="40"/></th>
          <td>{{ item.ref }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.family }}</td>
          <td>{{ item.collection }}</td>
          <td><span *ngFor="let tag of item.tagsDetails" style="background: #ccc; padding: 2px 4px; margin: 2px 0 2px 2px;">{{ tag.name }}</span></td>
          <td>
          <button class="btn btn-primary">
              <i class="fas fa-reply"></i> Editar</button>
          <button class="btn btn-danger" (click)="deleteItem(item.key)">
              <i class="fas fa-trash"></i> Excluir</button>
          </td>
        </tr>
        
      </tbody>
      <tfoot>
        <tr>
          <td>IMAGEM</td>
          <td>REFERÊNCIA</td>
          <td>CATEGORIA</td>
          <td>FAMILIA</td>
          <td>COLEÇÃO</td>
          <td>DETALHES</td>
          <td width="200">AÇÃO</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    
      <pagination-controls 
                      class="pagination justify-content-end"
                      (pageChange)="p = $event"   
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true"
                      previousLabel="Anterior"
                      nextLabel="Próxima"
                      screenReaderPaginationLabel="Paginação"
                      screenReaderPageLabel="página"
                      screenReaderCurrentLabel="Você está na página">
      </pagination-controls>
    
  </nav>
</div>
<app-footer></app-footer>