<div class="modal-content">
  <div class="modal-header">
    
      <h5 class="modal-title" id="exampleModalLabel">Atualizar categoria</h5>
        
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="updateItem(keyCategoria)">
      <div *ngFor="let categoria of categorias | async">
        <div *ngIf="categoria.key == keyCategoria">
          <div class="modal-body">
            <div class="input-group">
              <input type="search" class="form-control" value="{{ categoria.name }}" formControlName="name">
            </div>
          </div>
        </div>
      </div>  
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-save">Atualizar</button>
      </div>
    </form>
</div>