<app-header></app-header>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" routerLink="/produtos">Produtos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar produto</li>
    </ol>
  </nav>
  <div class="jumbotron">
    <!-- <div class="alert alert-primary" role="alert">
      <i class="fas fa-info-circle"></i> 
      <p>Form value: {{ formulario.value | json }}</p>
      <p>Form status: {{ formulario.status | json }}</p>
    </div> -->
    <div>
      <form [formGroup]="formulario" (ngSubmit)="saveProduct()">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="disabledProduct" id="defaultCheck1" [checked]="saveUsername" (change)="isDisabledProduct()"
            formControlName="disabledProduct">

          <label class="form-check-label" for="defaultCheck1">Inativo</label>
        </div>
        <br />
        <div class="form-group">
          <label>Referência</label>
          <input class="form-control" id="ref" type="text" maxlength="7" placeholder="Referência do produto" formControlName="ref" required>
        </div>
        <div class="form-group">
          <label>Categoria</label>
          <select class="custom-select" formControlName="category" required>
            <option selected></option>
            <option value="Anéis">Anéis</option>
            <option value="Brincos">Brincos</option>
            <option value="Colares">Colares</option>
            <option value="Pingentes">Pingentes</option>
            <option value="Pulseiras">Pulseiras</option>
          </select>
        </div>
        <div class="form-group">
          <label>Familia</label>
          <select class="custom-select" formControlName="family" required>
            <option selected></option>
            <option value="Folheado a Ouro Amarelo 18k">Folheado a Ouro 18k</option>
            <option value="Folheado a Rhodium">Folheado a Rhodium</option>
            <option value="Prata">Prata</option>
            <option value="Pingentes">Aço</option>
          </select>
        </div>
        <div class="form-group">
          <label>Coleção</label>
          <select class="custom-select" formControlName="collection" required>
            <option selected="selected"></option>
            <option *ngFor="let colecao of lista_colecoes" value="{{ colecao.title }}">{{ colecao.title }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Detalhes</label>
          
          <ng-select
            formControlName="tagsDetails"
            [items]="lista_detalhes"
            bindLabel="title"
            bindValue="title"
            multiple="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>

        </div>
        <div class="jumbotron iverse">
          <div class="form-group">
            <p>Adicione até 3 imagens do produto</p>
          </div>
          <div class="form-group w-100 float-left form-group-images">
            <input id="image1" class="form-control getImage" [(ngModel)]="imgContent" (change)="updateImg($event)" type="text" formControlName="image1"
              required>
            <input id="image2" class="form-control getImage" [(ngModel)]="imgContent" (change)="updateImg($event)" type="text" formControlName="image2"
              required>
            <input id="image3" class="form-control getImage" [(ngModel)]="imgContent" (change)="updateImg($event)" type="text" formControlName="image3"
              required>
            <div class="image" data-toggle="modal" data-target="#biblioteca" data-box='1'>
              <a class="btn btn-success">
                <i class="fas fa-plus"></i>
              </a>
            </div>
            <div class="image" data-toggle="modal" data-target="#biblioteca" data-box='2'>
              <a class="btn btn-success">
                <i class="fas fa-plus"></i>
              </a>
            </div>
            <div class="image" data-toggle="modal" data-target="#biblioteca" data-box='3'>
              <a class="btn btn-success">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary" type="button" routerLink="/produtos">Cancelar</button>
          <button class="btn btn-success" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="biblioteca" tabindex="-1" role="dialog" aria-labelledby="biblioteca" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Biblioteca de imagens</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <!--  <div class="form-inline form-search">
          <input type="search" class="form-control" placeholder="Buscar" [(ngModel)]="term">
          <button type="submit" class="mb-2">
            <i class="fas fa-search"></i>
          </button>
        </div> -->
        <div class="input-group form-search my-2">
          <input type="search" class="form-control" placeholder="Buscar" [(ngModel)]="term">
          <button type="submit" style="top: 0">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <input type="hidden" id="data-box" value="0">
        <div class="row">
          <div class="col-md-2" *ngFor="let image of items | filter:term">
            <label for="{{image.name}}">
              <input type="radio" name="img" id="{{image.name}}">
              <img src="{{image.url}}" />
              <small>{{image.name}}</small>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-save">Adicionar</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>