<app-header></app-header>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" routerLink="/produtos">Produtos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar produto</li>
    </ol>
  </nav>
  <div class="jumbotron">
    <div class="alert alert-primary" role="alert">
      <i class="fas fa-info-circle"></i> This is a primary alert—check it out!
    </div>
    <div>
    <form [formGroup]="formulario" (ngSubmit)="saveProduct()">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" checked id="defaultCheck1" formControlName="disabledProduct">
        <label class="form-check-label" for="defaultCheck1">Ativo</label>
      </div>
      <br />
      <div class="form-group">
        <label>Referência</label>
        <input class="form-control" type="text" placeholder="Referência do produto" formControlName="ref">
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <select class="custom-select" formControlName="category">
          <option selected></option>
          <option value="aneis">Aneis</option>
          <option value="brincos">Brincos</option>
          <option value="colares">Colares</option>
          <option value="pingentes">Pingentes</option>
          <option value="pulseiras">Pulseiras</option>
        </select>
      </div>
      <div class="form-group">
        <label>Detalhes</label>
        <ng-select class="custom-select"
            formControlName="tags"
            [items]="companies"
            [addTag]="addTagPromise"
            multiple="true"
            bindLabel="name"
            [loading]="loading"
            [(ngModel)]="selectedCompanyCustomPromise">
        </ng-select>
      </div>
      <hr>
      <p>
          Selected value: {{selectedCompanyCustomPromise | json}}
      </p>
      
      <div class="form-group">
        <div class="image">
          <button class="btn btn-success">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" type="button" routerLink="/produtos">Cancelar</button>
        <button class="btn btn-success" type="submit">Salvar</button>
      </div>
    </form>
    </div>
  </div>
</div>

<app-footer></app-footer>